# Configuration file

"enchantability - armor" {
    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:APIARIST_ARMOR=15
    I:Amaranth=31
    I:Azurite=41

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 1]
    I:BiblioArmor=1

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:Blindfold=10
    I:Blue_Diamond_Armor=7
    I:Blue_Gem_Armor=7

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:CHAIN=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:COBALT=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 1]
    I:COMPACTSOLARHAT=1

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 20]
    I:CULTIST_LEADER=20

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 13]
    I:CULTIST_PLATE=13

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 13]
    I:CULTIST_ROBE=13
    I:Carbon_Armor=15
    I:Crystal_Armor=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:DESH=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:DIAMOND=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:DragonScales1=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:DragonScales2=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:DragonScales3=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:DragonScales4=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:DragonScales5=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:DragonScales6=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:DragonScales7=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:DragonScales8=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 30]
    I:"Dragonsteel Fire"=30

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 30]
    I:"Dragonsteel Ice"=30

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:Earplugs=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:FORTRESS=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:FRICTIONBOOTS=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:"Forest Troll"=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:"Frost Troll"=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:GASMASK=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 40]
    I:GOLD=40
    I:Green_Diamond_Armor=7

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:IC2_ALLOY=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:IC2_BRONZE=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:IRON=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:JETPACK=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:LEATHER=15
    I:Magnesium_Armor=11
    I:Mercury_Armor=13

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:"Mountain Troll"=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:MyrmexDesert=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:MyrmexJungle=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:NETHERITE=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 14]
    I:PERIDOT=14

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:PIGGYBACK=0
    I:Palladium_Armor=13
    I:Purple_Diamond_Armor=7

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:RAILCRAFT_GOGGLES=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:RAILCRAFT_OVERALLS=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 8]
    I:RAILCRAFT_STEEL=8

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:RUBY=10
    I:Radium=71

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 5]
    I:"Red Deathworm"=5
    I:Red_Diamond_Armor=7
    I:Red_Gem_Armor=7

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:SAPPHIRE=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:SCUBATANK=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:SENSORGLASSES=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:SLIME=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:SPACESUIT=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:SPECIAL=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:SeaSerpentScalesblue=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:SeaSerpentScalesbronze=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:SeaSerpentScalesdeepblue=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:SeaSerpentScalesgreen=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:SeaSerpentScalespurple=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:SeaSerpentScalesred=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:SeaSerpentScalesteal=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:Sheep=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 20]
    I:Silver=20

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 14]
    I:"TF:ALUMINUM"=14

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:"TF:BRONZE"=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:"TF:CONSTANTAN"=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 8]
    I:"TF:COPPER"=8

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 30]
    I:"TF:ELECTRUM"=30

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:"TF:INVAR"=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:"TF:LEAD"=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 18]
    I:"TF:NICKEL"=18

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 16]
    I:"TF:PLATINUM"=16

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:"TF:SILVER"=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:"TF:STEEL"=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:"TF:TIN"=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:THAUMIUM=25
    I:Tier1_SpaceSuit_Armor=0
    I:Tier2_SpaceSuit_Armor=0
    I:Tier3_SpaceSuit_Armor=0
    I:Tier4_SpaceSuit_Armor=0
    I:Tungsten_Armor=7
    I:Uranium_Armor=13

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:VOID=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:VOIDROBE=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 5]
    I:"White Deathworm"=5
    I:White_Gem_Armor=7

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 5]
    I:"Yellow Deathworm"=5
    I:Yellow_Diamond_Armor=7
    I:Zinc_Armor=9
    I:Zollernium=61

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 5]
    I:armor_material_rockshroom=5

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:armor_material_tenebrum=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:hat_material=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 21]
    I:"netherex:black_salamander_hide"=21

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 21]
    I:"netherex:orange_salamander_hide"=21

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 16]
    I:"netherex:wither_bone"=16

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:steel=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 6]
    I:tcomplement.knightslime=6

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 7]
    I:tcomplement.manyullyn=7

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 7]
    I:tcomplement.steel=7

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 20]
    I:titanium=20
}


"enchantability - tools" {
    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:AmphithereSword=10
    I:"Blue Diamond Material"=30
    I:"Blue Gem Material"=30

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:CVOID=20
    I:"Carbon Material"=30
    I:"Crystal Material"=30

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:DESH=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:DIAMOND=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 0]
    I:DUMMY=0

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:Dragonbone=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:DragonsteelFire=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:DragonsteelIce=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:DreadKnightSword=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:DreadQueenSword=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 0]
    I:DreadSword=0

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:FireDragonbone=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 40]
    I:GOLD=40
    I:"Green Diamond Material"=30

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 50]
    I:HippocampusSword=50

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:HippogryphSword=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 13]
    I:IC2_BRONZE=13

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:IRON=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:IceDragonbone=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 0]
    I:LIGHTSABERR=0
    I:"Magnesium Material"=30
    I:"Mercury Material"=30

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 8]
    I:MyrmexChitin=8

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:NETHERITEAXE=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:NETHERITEHOE=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:NETHERITEPICKAXE=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:NETHERITESHOVEL=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:NETHERITESWORD=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:PERIDOT=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:PRIMALVOID=20
    I:"Palladium Material"=30
    I:"Purple Diamond Material"=30

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 9]
    I:RAILCRAFT_STEEL=9

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:RUBY=10
    I:"Red Diamond Material"=30
    I:"Red Gem Material"=30

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:SAPPHIRE=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 5]
    I:STONE=5

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 6]
    I:SUPERSWORD=6

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 18]
    I:Silver=18

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:StymphalianSword=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:"TF:ALUMINUM"=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:"TF:BRONZE"=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:"TF:CONSTANTAN"=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 7]
    I:"TF:COPPER"=7

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 30]
    I:"TF:ELECTRUM"=30

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:"TF:INVAR"=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 9]
    I:"TF:LEAD"=9

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 18]
    I:"TF:NICKEL"=18

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 16]
    I:"TF:PLATINUM"=16

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:"TF:SILVER"=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:"TF:STEEL"=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 7]
    I:"TF:TIN"=7

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:THAUMIUM=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 18]
    I:THAUMIUM_ELEMENTAL=18
    I:"Tungsten Material"=30
    I:"Uranium Material"=30

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:VOID=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:WOOD=15
    I:"White Gem Material"=30
    I:"Yellow Diamond Material"=30
    I:"Zinc Material"=30
    I:amaranth=22
    I:ascendant=46
    I:azurite=26

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:cobalt=14
    I:evenium=16

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 8]
    I:material_ebonys=8

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:material_nagrilite=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 5]
    I:material_nightstone=5

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:material_shadowroot=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:material_tenebrum=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:"netherex:amedian"=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 0]
    I:plasma=0
    I:ruby=28

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 8]
    I:steel=8

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 16]
    I:titanium=16

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 1]
    I:trollWeapon=1
    I:virinium=18

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:volcanic=10
    I:zollernium=30
}


